<div class="row">
    <div class="col-lg-12">
        <h2>About</h2>
        <hr>
        <div class="row">
            <div class="col-md-2">
                <img class="img-thumbnail" src="https://images.cdn.autocar.co.uk/sites/autocar.co.uk/files/styles/gallery_slide/public/images/car-reviews/first-drives/legacy/renders-17th-896.jpg?itok=4mprPLvZ">
            </div>
            <div class="col-md-10">
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn btn-primary" href="/contact.html" role="button">Contact Us &raquo;</a></p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-2">
                <img class="img-thumbnail" src="https://images.cdn.autocar.co.uk/sites/autocar.co.uk/files/styles/gallery_slide/public/images/car-reviews/first-drives/legacy/renders-17th-896.jpg?itok=4mprPLvZ">
            </div>
            <div class="col-md-10">
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn btn-primary" href="/contact.html" role="button">Contact Us &raquo;</a></p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-2">
                <img class="img-thumbnail" src="https://images.cdn.autocar.co.uk/sites/autocar.co.uk/files/styles/gallery_slide/public/images/car-reviews/first-drives/legacy/renders-17th-896.jpg?itok=4mprPLvZ">
            </div>
            <div class="col-md-10">
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn btn-primary" href="/contact.html" role="button">Contact Us &raquo;</a></p>
            </div>
        </div>
    </div>
</div>